{erl_opts, [warnings_as_errors]}.
{deps, [
  {gen_server2, ".*", {git, "git://github.com/ErlangChina/gen_server2.git", "master"}},
  {amqp_client, ".*",
    {git, "git://github.com/jbrisbin/amqp_client.git", "master"}},
  {rabbit_common, ".*",
    {git, "git://github.com/jbrisbin/rabbit_common.git", "master"}}
]}.
