{rabbit_farms, [{default, [ {username, <<"guest">>},
                            {password, <<"V2pOV2JHTXpVVDA9">>},
                            {virtual_host, <<"/">>},
                            {host, "localhost"},
                            {port, 5672},
                            {feeders,[
                                       [{channel_count,1},
                                        {exchange, <<"tracking.logs">>},
                                        {type, <<"topic">>}]
                                     ]}
                          ]},
                {notification,[ {username, <<"guest">>},
                                {password, <<"V2pOV2JHTXpVVDA9">>},
                                {virtual_host, <<"/">>},
                                {host, "localhost"},
                                {port, 5672},
                                {feeders,[
                                           [{channel_count,1},
                                           {exchange, <<"app.notification">>},
                                           {type, <<"topic">>}]
                                         ]}
                              ]}]
}.